/* Part 1 */
.quotes ul li::before
{
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/quotes.png);
}

.quotes ul li::after
{
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/quotes.png);
}



/* Part 2 */
.file-link ul a::after
{
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;

}

.file-link ul a[class=pdf]::after
{
    background-image: url(./assets/pdf.png);
}

.file-link ul a[class=xls]::after
{
    background-image: url(./assets/ms-excel.png);
}

.file-link ul a[class=doc]::after
{
    background-image: url(./assets/ms-word.png);
}


/* Part 3 */
.sandwich
{
    display: block;
    padding-top: 50px;    
    margin: 20px;
}

.sandwich div
{
    border: 1px solid black;
    margin-bottom: 30px;
}

.sandwich ul
{
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.sandwich .ersteZeile::before
{
    content: "";
    display: block;
    height: 1rem;
    background: linear-gradient(to right, #38B2D6, #D2D441);
}

.sandwich .letzteZeile::after
{
    content: "";
    display: block;
    height: 1rem;
    background: linear-gradient(to right, #D2D441, #38B2D6);
}
